# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/

# Environment
.env
.env.local

# Dependencies (por si luego)
node_modules/

# OS
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
